
#contact {
  padding: 95px 0 95px;
  background: #f2f2f2;
}

#contact h2 {
  margin-bottom: 45px;
}

#contact .address-icons p {
  color: #131313;
  margin-bottom: 30px;
}

#contact-form button {
  margin-top: 15px;
}

#contact i.fa {
  color: #131313;
  font-size: 2em;
  line-height: 45px;
  margin-bottom: 10px;
}

#contact .text-danger {
  color: #636363;
  text-align: left;
}

label {
  float: left;
}

label.error {
  color: #515769;
  font-size: 13px;
  font-weight: 300;
  margin: 0 0 15px 0;
}

#contact .form-control {
  display: block;
  background-color: #fff;
  color: #131313;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  background-image: none;
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
  color: #595959;
  font-size: 0.9em;
}

.form-control:-moz-placeholder {
  color: #595959;
  font-size: 0.9em;
}

.form-control::-moz-placeholder {
  color: #595959;
  font-size: 0.9em;
}

.form-control:-ms-input-placeholder {
  color: #595959;
  font-size: 0.9em;
}

textarea {
  resize: none;
}

fieldset {
  border: 0px;
  margin: 0;
  padding: 0
}

.success {
  padding: 1em;
  color: #fff;
  background-color: #48b14d;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 30px;
}

.error {
  padding: 1em;
  color: #fff;
  background-color: #616161;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 30px;
}
