<section id="about">
  <div class="container">
    <div class="row">
      <div class="description col-md-6 col-sm-4 col-xs-12">
        <h2>Hi, I am Vandita</h2>
        <h4>Computer Science Graduate Student</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh felis, rutrum id eleifend nec, viverra ac nunc.
          Fusce sit amet interdum metus, a interdum massa. Nullam gravida, elit sed mattis semper, libero leo convallis mi, et
          elementum magna tortor sed tortor. Aliquam hendrerit metus non enim fringilla, eu molestie ante bibendum.
        </p>

        <!-- about button -->
        <p>
          <a href="#" class="btn btn-dark with-arrow smoth-scroll">My Resume
            <i class="fa fa-download"></i>
          </a>
        </p>
      </div>


    </div>
  </div>
</section>


<article class="experience" id="#exp">
  <div class="container">
    <h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Work experience</h2>
    <div class="row cv-section">
      <div class="col-md-3">
        <div class="cv-section-title animated" data-animation="fadeInLeft" data-animation-delay="200">
          <h2>AQUANOMIX</h2>
          <!--<img class ="logo" src="../../assets/images/aquanomix-logo.png">-->
          <h1><span>2017<small>May</small></span>
            -
            <span>2017<small>August</small></span>
          </h1>

        </div>
      </div>
      <div class="col-md-9">
        <div class="cv-item animated" data-animation="fadeInRight" data-animation-delay="200">
          <h3>DATA ANALYST INTERN</h3>
          <ul>
            <li>
              Acquiring data from multiple sources and external APIs to perform data wrangling and build predictive models.
            </li>
            <li>
              Developed a forecasting model on real time water and energy sensor data using time-series analysis

            </li>
            <li>
              Reporting insights using Tableau, Matplotlib and integrating to Symphony product site using Highchats.
            </li>
            <li>
              Slashed the running time of a legacy process affecting millions of rows of data, by 80%.
            </li>
            <li>
              Worked on Symphony MEAN stack application to integrate the findings of data analysis.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row cv-section">
      <div class="col-md-3">
        <div class="cv-section-title animated" data-animation="fadeInLeft" data-animation-delay="200">
          <h2>COMMLAB</h2>
          <!--<img class ="logo" src="../../assets/images/commlab-logo.png">-->
          <h1><span>2015<small>December</small></span>
            -
            <span>2016<small>July</small></span>
          </h1>

        </div>
      </div>
      <div class="col-md-9">
        <div class="cv-item animated" data-animation="fadeInRight" data-animation-delay="200">
          <h3>APPLICATION DEVELOPER</h3>
          <ul>
            <li>
              Designed and implemented dashboard, products, client details, orders and other modules for an in-house E-commerce platform for housing E-learning courses.
            </li>
            <li>
              Worked on CRM for reporting, integrating and maintenance.
            </li>
            <li>
              Team Lead for a major project – GeoMap, where we implemented an interface for customer service through which customers can view various branches and headquarters of Unilever worldwide, Inquire about FAQs, Send short messages and more.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row cv-section">
      <div class="col-md-3">
        <div class="cv-section-title animated" data-animation="fadeInLeft" data-animation-delay="200">
          <!--<img class ="logo" src="../../assets/images/mahi-logo.jpg">-->
          <h2>MAHI Pvt Ltd</h2>
          <h1><span>2013<small>September</small></span>
            -
            <span>2015<small>November</small></span>
          </h1>
        </div>
      </div>
      <div class="col-md-9">
        <div class="cv-item animated" data-animation="fadeInRight" data-animation-delay="200">
          <h3>SOFTWARE ENGINEER</h3>

          <ul>
            <li>
              Worked on software solutions to architect and design an order management system for managing the granites database.
            </li>
            <li>
              Implemented Agile Software Methodology that followed scrum framework.
            </li>
            <li>
              Worked on Granites data warehouse for the year 2014 and have done ETL & analysis on the sales, profits and discounts.
            </li>
            <li>
              Worked on visualization and reporting of the discovered analytics for both in-house as well as the on-site demonstration.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>


<article class="education" id="#">
  <div class="container">
    <h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Education</h2>
    <div class="row cv-section">
      <div class="col-md-3">
        <div class="cv-section-title animated" data-animation="fadeInLeft" data-animation-delay="200">
          <img class ="logo" src="../../assets/images/unc-charlotte-logo.png">
          <h1><span>2016<small>August</small></span>
            -
            <span>2017<small>December</small></span>
          </h1>
        </div>
      </div>
      <div class="col-md-9">
        <div class="cv-item animated" data-animation="fadeInRight" data-animation-delay="200">
          <h3>University of North Carolina, Charlotte</h3>
          <h3>DEGREE</h3><p>MASTERS IN COMPUTER SCIENCE</p>
          <h3>CONCENTRATION</h3><p>DATA SCIENCE</p>
          <h3>GPA</h3> <p>3.8 / 4.0</p>

        </div>
      </div>
    </div>

    <div class="row cv-section">
      <div class="col-md-3">
        <div class="cv-section-title animated" data-animation="fadeInLeft" data-animation-delay="200">
          <img class ="logo" src="../../assets/images/jntu-logo.png">
          <h1><span>2009<small>May</small></span>
            -
            <span>2013<small>July</small></span>
          </h1>

        </div>
      </div>
      <div class="col-md-9">
        <div class="cv-item animated" data-animation="fadeInRight" data-animation-delay="200">
          <h3>BRECW <small><i>affiliated to</i></small> Jawaharlal Nehru Technological University</h3>
          <h3>DEGREE</h3><p>MASTERS IN COMPUTER SCIENCE</p>
          <h3>CONCENTRATION</h3><p>DATA SCIENCE</p>
          <h3>GPA</h3> <p>8.2 / 10.0</p>
        </div>
      </div>
    </div>
  </div>
</article>


<app-projects></app-projects>
