.section-skills {
  color: black;
  background: #f3f3f3;
  font-weight: 400;
}

.section-skills img {
  height: 40px;
  color: grey;
}

.section-skills figure{
  text-align: center;
  margin: 0% 5% 25% 5%;
  margin-bottom: 25%;
}


h2 {
  margin: 0px 0 40px 0;
  font-weight: 300;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;

}

@media (max-width: 767px) {
  .section-skills img {
    height: 20px;
  }
}
