<section class="section-skills js--section-skills" id="section-skills">
  <h2>Skills</h2>
  <div class="row">
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/html5.svg">
        <figcaption>HTML5</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/css3.svg">
        <figcaption>CSS3</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/js.svg">
        <figcaption>JAVASCRIPT</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/jquery.svg">
        <figcaption>JQUERY</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/angular.svg">
        <figcaption>ANGULAR</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/nodejs.svg">
        <figcaption>NODE JS</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/bootstrap.svg">
        <figcaption>BOOTSTRAP</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/sass.svg">
        <figcaption>SASS</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/gulp.svg">
        <figcaption>GULP</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/java.svg">
        <figcaption>JAVA EE</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/photoshop.svg">
        <figcaption>PHOTOSHOP</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills//illustrator.svg">
        <figcaption>ILLUSTRATOR</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/mysql.svg">
        <figcaption>MYSQL</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/mongodb-logo-white.png">
        <figcaption>MONGO DB</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/java.svg">
        <figcaption>JAVA</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/r.svg">
        <figcaption>R</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/git.svg">
        <figcaption>GIT</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/github.svg">
        <figcaption>GITHUB</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/aws-s3.svg">
        <figcaption>AWS S3</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/aws-ec2.svg">
        <figcaption>AWS EC2</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/aws-rds.svg">
        <figcaption>AWS RDS</figcaption>
      </figure>
    </div>
    <div class="col-xs-3 col-sm-2 resize">
      <figure>
        <img src="../../assets/images/skills/aws-ebs.svg">
        <figcaption>AWS EBS</figcaption>
      </figure>
    </div>
  </div>
</section>
<app-contactme></app-contactme>
