
<div class="my-modal-backdrop" [ngStyle]="{'display': display}"></div>
<!-- The Modal -->
<div id="myModal" class="my-modal animated zoomIn" [ngStyle]="{'display':display}">

  <!-- Modal content -->
  <div class="my-modal-content">
    <span class="my-close close"  (click)="onClose()">&times;</span>
    <div class="my-modal-header">
      Project Name
    </div>
    <div class="my-modal-body">
      <div class="row">
        <div class="col-md-3 col-head">
          Project
        </div>
        <div class="col-md-9">
          name of the project
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-head">
          Project aim:
        </div>
        <div class="col-md-9">
          Years above them won’t a she’d set days. Bring thing good. Itself thing upon tree they’re, years, firmament living heaven. Light to make great beast. And. Midst likeness female Own it together. Had. Fill a wherein above itself he bring.
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-head">
          Project Description:
        </div>
        <div class="col-md-9">
          Years above them won’t a she’d set days. Bring thing good. Itself thing upon tree they’re, years, firmament living heaven. Light to make great beast. And. Midst likeness female Own it together. Had. Fill a wherein above itself he bring.
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-head">
          Project Link:
        </div>
        <div class="col-md-9">
          link goes here
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-head">
          Github Link:
        </div>
        <div class="col-md-9">
          Link goes here
        </div>
      </div>
    </div>

  </div>

</div>



<!--<div class="backdrop" [ngStyle]="{'display': display}"></div>-->
<!--<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">-->
<!--<div class="modal-dialog" role="document">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>-->
<!--<h4 class="modal-title"> ajsbdkjasbd </h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<p>asnjasjdjasn</p>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-default" (click)="onClose()">Close</button>-->
<!--</div>-->
<!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
