<div id="home" class="home-bg box-intro" style="background-image: url('../../assets/images/back-image.png')">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="home-text">
          <!-- profile picture -->
          <div class="profile-pic" data-aos="flip-left">
            <img src="../../assets/images/display-pic.png" height="500" class="img-responsive" alt="" />
          </div>

          <!-- home title -->
          <div>
            <h1><span class="typing-element"></span></h1>
            <h3 id="text-rotator">
              <div>Social media icons</div>
            </h3>
          </div>
        </div>
        <a class="smoth-scroll" href="#about">
          <i class="fa fa-angle-down arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<app-aboutme></app-aboutme>
